<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>A</key>
		<array>
			<dict>
				<key>title</key>
				<string>爱奇艺</string>
				<key>icon_url</key>
				<string>aiqiyi</string>
				<key>url</key>
				<string>iqiyi://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>B</key>
		<array>
			<dict>
				<key>title</key>
				<string>百度贴吧</string>
				<key>icon_url</key>
				<string>baidutieba</string>
				<key>url</key>
				<string>com.baidu.tieba://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>百度地图</string>
				<key>icon_url</key>
				<string>baiduditu</string>
				<key>url</key>
				<string>baidumap://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>哔哩哔哩</string>
				<key>icon_url</key>
				<string>bilibili</string>
				<key>url</key>
				<string>bilibili://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>布卡</string>
				<key>icon_url</key>
				<string>buka</string>
				<key>url</key>
				<string>buka://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>百度</string>
				<key>icon_url</key>
				<string>baidu</string>
				<key>url</key>
				<string>baiduboxapp://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>C</key>
		<array>
			<dict>
				<key>title</key>
				<string>唱吧</string>
				<key>icon_url</key>
				<string>changba</string>
				<key>url</key>
				<string>changba://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Chrome</string>
				<key>icon_url</key>
				<string>Chrome</string>
				<key>url</key>
				<string>googlechrome://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>D</key>
		<array>
			<dict>
				<key>title</key>
				<string>豆瓣fm</string>
				<key>icon_url</key>
				<string>doubanfm</string>
				<key>url</key>
				<string>doubanradio://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>抖音</string>
				<key>icon_url</key>
				<string>douyin</string>
				<key>url</key>
				<string>snssdk1128://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>地图</string>
				<key>icon_url</key>
				<string>ditu</string>
				<key>url</key>
				<string>maps://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>滴答清单</string>
				<key>icon_url</key>
				<string>didaqingdan</string>
				<key>url</key>
				<string>ticktick://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>滴滴出行</string>
				<key>icon_url</key>
				<string>didichuxing</string>
				<key>url</key>
				<string>diditaxi://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆瓣</string>
				<key>icon_url</key>
				<string>douban</string>
				<key>url</key>
				<string>douban://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>钉钉</string>
				<key>icon_url</key>
				<string>dingding</string>
				<key>url</key>
				<string>dingtalk://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>E</key>
		<array>
			<dict>
				<key>title</key>
				<string>饿了么</string>
				<key>icon_url</key>
				<string>eleme</string>
				<key>url</key>
				<string>eleme://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>G</key>
		<array>
			<dict>
				<key>title</key>
				<string>高德地图</string>
				<key>icon_url</key>
				<string>gaodeditu</string>
				<key>url</key>
				<string>iosamap://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>H</key>
		<array>
			<dict>
				<key>title</key>
				<string>换图标</string>
				<key>icon_url</key>
				<string>icon</string>
				<key>url</key>
				<string>huantubiao://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>I</key>
		<array>
			<dict>
				<key>title</key>
				<string>instagram</string>
				<key>icon_url</key>
				<string>instagram</string>
				<key>url</key>
				<string>instagram://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>J</key>
		<array>
			<dict>
				<key>title</key>
				<string>今日头条</string>
				<key>icon_url</key>
				<string>jinritoutiao</string>
				<key>url</key>
				<string>snssdk141://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>京东</string>
				<key>icon_url</key>
				<string>jingdong</string>
				<key>url</key>
				<string>openApp.jdMobile://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>金山词霸</string>
				<key>icon_url</key>
				<string>jinshanciba</string>
				<key>url</key>
				<string>com.kingsoft.powerword.6://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>节奏大师</string>
				<key>icon_url</key>
				<string>jiezoudashi</string>
				<key>url</key>
				<string>tencentrm://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>K</key>
		<array>
			<dict>
				<key>title</key>
				<string>快手</string>
				<key>icon_url</key>
				<string>kuaishou</string>
				<key>url</key>
				<string>gifshow://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>酷狗音乐</string>
				<key>icon_url</key>
				<string>kugouyinyue</string>
				<key>url</key>
				<string>kugouURL://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>酷我音乐</string>
				<key>icon_url</key>
				<string>kuwoyinyue</string>
				<key>url</key>
				<string>com.kuwo.kwmusic.kwmusicForKwsing://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Keep</string>
				<key>icon_url</key>
				<string>keep</string>
				<key>url</key>
				<string>keep://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>L</key>
		<array>
			<dict>
				<key>title</key>
				<string>铃声多多</string>
				<key>icon_url</key>
				<string>lingshengduoduo</string>
				<key>url</key>
				<string>RingToneDD://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>M</key>
		<array>
			<dict>
				<key>title</key>
				<string>备忘录</string>
				<key>icon_url</key>
				<string>beiwanglu</string>
				<key>url</key>
				<string>mobilenotes://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>陌陌</string>
				<key>icon_url</key>
				<string>momo</string>
				<key>url</key>
				<string>momochat://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>墨迹天气</string>
				<key>icon_url</key>
				<string>mojitianqi</string>
				<key>url</key>
				<string>rm434209233MojiWeather://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>美图秀秀</string>
				<key>icon_url</key>
				<string>meituxiuxiu</string>
				<key>url</key>
				<string>mtxx://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>美团</string>
				<key>icon_url</key>
				<string>meituan</string>
				<key>url</key>
				<string>imeituan://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>P</key>
		<array>
			<dict>
				<key>title</key>
				<string>拼多多</string>
				<key>icon_url</key>
				<string>pinduoduo</string>
				<key>url</key>
				<string>pinduoduo://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Q</key>
		<array>
			<dict>
				<key>title</key>
				<string>QQ音乐</string>
				<key>icon_url</key>
				<string>QQyinyue</string>
				<key>url</key>
				<string>qqmusic://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ</string>
				<key>icon_url</key>
				<string>QQ</string>
				<key>url</key>
				<string>mqq://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ浏览器</string>
				<key>icon_url</key>
				<string>QQliulanqi</string>
				<key>url</key>
				<string>mttbrowser://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>T</key>
		<array>
			<dict>
				<key>title</key>
				<string>淘宝网</string>
				<key>icon_url</key>
				<string>taobao</string>
				<key>url</key>
				<string>taobao://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>腾讯视频</string>
				<key>icon_url</key>
				<string>tengxunshipin</string>
				<key>url</key>
				<string>tenvideo://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>天猫</string>
				<key>icon_url</key>
				<string>tianmao</string>
				<key>url</key>
				<string>tmall://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>U</key>
		<array>
			<dict>
				<key>title</key>
				<string>UC浏览器</string>
				<key>icon_url</key>
				<string>UCliulanqi</string>
				<key>url</key>
				<string>ucbrowser://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>W</key>
		<array>
			<dict>
				<key>title</key>
				<string>微信</string>
				<key>icon_url</key>
				<string>weixin</string>
				<key>url</key>
				<string>weixin://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>网易公开课</string>
				<key>icon_url</key>
				<string>wangyigongkaike</string>
				<key>url</key>
				<string>ntesopen://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>微视</string>
				<key>icon_url</key>
				<string>weishi</string>
				<key>url</key>
				<string>weishiiosscheme://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>王者荣耀</string>
				<key>icon_url</key>
				<string>wangzherongyao</string>
				<key>url</key>
				<string>tencentlaunch1104466820://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>网易云音乐</string>
				<key>icon_url</key>
				<string>wangyiyunyinyue</string>
				<key>url</key>
				<string>tencentlaunch1104466820://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>唯品会</string>
				<key>icon_url</key>
				<string>weipinhui</string>
				<key>url</key>
				<string>vipshop://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>X</key>
		<array>
			<dict>
				<key>title</key>
				<string>新浪微博</string>
				<key>icon_url</key>
				<string>xinlangweibo</string>
				<key>url</key>
				<string>sinaweibo://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>喜马拉雅</string>
				<key>icon_url</key>
				<string>ximalaya</string>
				<key>url</key>
				<string>iting://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Y</key>
		<array>
			<dict>
				<key>title</key>
				<string>优酷</string>
				<key>icon_url</key>
				<string>youku</string>
				<key>url</key>
				<string>youku://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>有道</string>
				<key>icon_url</key>
				<string>youdao</string>
				<key>url</key>
				<string>yddict://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Z</key>
		<array>
			<dict>
				<key>title</key>
				<string>支付宝</string>
				<key>icon_url</key>
				<string>zhifubao</string>
				<key>url</key>
				<string>alipay://</string>
			</dict>
			<dict>
				<key>title</key>
				<string>知乎</string>
				<key>icon_url</key>
				<string>zhihu</string>
				<key>url</key>
				<string>zhihu://</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>#</key>
		<array>
			<dict>
				<key>title</key>
				<string>58同城</string>
				<key>icon_url</key>
				<string>tongcheng58</string>
				<key>url</key>
				<string>wbmain://</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
